<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edit Article</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/update">
                <input type="hidden" name="id" value="<%=article.id%>">
                <input class="form-control" type="input" name="title" placeholder="Title" value="<%= article.title%>"><br>
                <textarea class="form-control" name="body" placeholder="Write it down!" id="article""></textarea>
                <label>Category</label>
                <select name="category" class="form-control">
                    <% categories.forEach(category =>{ %>
                        <% if (category.id==article.categoryId) {%>
                            <option value="<%= category.id%>" selected><%= category.title%></option>
                        <% } else { %>
                            <option value="<%= category.id%>"><%= category.title%></option>
                        <% } %>
                    <% }) %>
                </select><br>
                <button class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>
<div id="content" style="display: none;">
    <%- article.body%>
</div>
<%- include('../../partials/footer.ejs')%>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    var conteudo = document.getElementById('content').innerHTML;
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent(conteudo)
        }
    });

</script>